In [5]:
import pandas as pd

# ✅ Correct file path using forward slashes
file_path = 'D:/elevate lab/Retail_Business_Performance_Profitability_Analysis_Project/data/raw/Sample - Superstore.csv'

# OR using raw string
# file_path = r'D:\elevate lab\Retail_Business_Performance_Profitability_Analysis_Project\data\raw\Sample - Superstore.csv'

# ✅ Read CSV
df = pd.read_csv(file_path, encoding='ISO-8859-1')

# Quick check
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB
None
   Row ID        Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
1       2  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
2       3  CA-2016-138688   6/12/2016   6/16/2016    Second Class    DV-13045
3       4  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335
4       5  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

  Postal Code  Region       Product ID         Category Sub-Category  \
0       42420   South  FUR-BO-10001798        Furniture    Bookcases
1       42420   South  FUR-CH-10000454        Furniture       Chairs
2       90036    West  OFF-LA-10000240  Office Supplies       Labels
3       33311   South  FUR-TA-10000577        Furniture       Tables
4       33311   South  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales  Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600         2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400         3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4                     Eldon Fold 'N Roll Cart System   22.3680         2

   Discount    Profit
0      0.00   41.9136
1      0.00  219.5820
2      0.00    6.8714
3      0.45 -383.0310
4      0.20    2.5164

[5 rows x 21 columns]

In [16]:
# Check for missing values
df.isnull().sum()

# Drop rows with critical nulls
df.dropna(subset=['Order ID', 'Order Date', 'Ship Date', 'Sales', 'Profit', 'Category', 'Sub-Category'], inplace=True)

# Fill optional columns
df['Postal Code'] = df['Postal Code'].fillna('Unknown')

In [8]:
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Ship Date'] = pd.to_datetime(df['Ship Date'])
df['Year'] = df['Order Date'].dt.year
df['Month'] = df['Order Date'].dt.month
df['Quarter'] = df['Order Date'].dt.quarter
print(df.head())

   Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
1       2  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
2       3  CA-2016-138688 2016-06-12 2016-06-16    Second Class    DV-13045
3       4  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335
4       5  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

          Category  Sub-Category  \
0        Furniture     Bookcases
1        Furniture        Chairs
2  Office Supplies        Labels
3        Furniture        Tables
4  Office Supplies       Storage

                                        Product Name     Sales Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600        2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400        3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200        2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775        5
4                     Eldon Fold 'N Roll Cart System   22.3680        2

  Discount    Profit  Year  Month  Quarter
0     0.00   41.9136  2016     11        4
1     0.00  219.5820  2016     11        4
2     0.00    6.8714  2016      6        2
3     0.45 -383.0310  2015     10        4
4     0.20    2.5164  2015     10        4

[5 rows x 24 columns]

In [9]:
df.drop_duplicates(inplace=True)

In [18]:
for col in ['Region', 'Category', 'Sub-Category', 'Ship Mode', 'Segment']:
    df[col] = df[col].str.strip().str.title()
print(df.head())

   Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
1       2  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
2       3  CA-2016-138688 2016-06-12 2016-06-16    Second Class    DV-13045
3       4  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335
4       5  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ... Quantity  \
0      Claire Gute   Consumer  United States        Henderson  ...        2
1      Claire Gute   Consumer  United States        Henderson  ...        3
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...        2
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...        5
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...        2

   Discount    Profit  Year Month Quarter Profit Margin  Processing Days  \
0      0.00   41.9136  2016    11       4         16.00                3
1      0.00  219.5820  2016    11       4         30.00                3
2      0.00    6.8714  2016     6       2         47.00                4
3      0.45 -383.0310  2015    10       4        -40.00                7
4      0.20    2.5164  2015    10       4         11.25                7

   Has Discount  Season
0             0    Fall
1             0    Fall
2             0  Summer
3             1    Fall
4             1    Fall

[5 rows x 28 columns]

In [33]:
df['Profit Margin'] = np.where(df['Sales'] != 0, df['Profit'] / df['Sales'], 0)

In [13]:
df['Processing Days'] = (df['Ship Date'] - df['Order Date']).dt.days
display(df.head())

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Product Name,Sales,Quantity,Discount,Profit,Year,Month,Quarter,Profit Margin,Processing Days
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,2016,11,4,16.00,3
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,2016,11,4,30.00,3
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,2016,6,2,47.00,4
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,2015,10,4,-40.00,7
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,2015,10,4,11.25,7

In [14]:
df['Has Discount'] = np.where(df['Discount'] > 0, 1, 0)

In [15]:
def get_season(month):
    if month in [12, 1, 2]:
        return 'Winter'
    elif month in [3, 4, 5]:
        return 'Spring'
    elif month in [6, 7, 8]:
        return 'Summer'
    else:
        return 'Fall'

df['Season'] = df['Month'].apply(get_season)

In [19]:
df['Season'] = df['Month'].apply(get_season)
print(df.head())

   Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
1       2  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
2       3  CA-2016-138688 2016-06-12 2016-06-16    Second Class    DV-13045
3       4  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335
4       5  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ... Quantity  \
0      Claire Gute   Consumer  United States        Henderson  ...        2
1      Claire Gute   Consumer  United States        Henderson  ...        3
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...        2
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...        5
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...        2

   Discount    Profit  Year Month Quarter Profit Margin  Processing Days  \
0      0.00   41.9136  2016    11       4         16.00                3
1      0.00  219.5820  2016    11       4         30.00                3
2      0.00    6.8714  2016     6       2         47.00                4
3      0.45 -383.0310  2015    10       4        -40.00                7
4      0.20    2.5164  2015    10       4         11.25                7

   Has Discount  Season
0             0    Fall
1             0    Fall
2             0  Summer
3             1    Fall
4             1    Fall

[5 rows x 28 columns]

In [20]:
df['Order Size'] = pd.cut(df['Quantity'],
                          bins=[0, 2, 5, 10, np.inf],
                          labels=['Small', 'Medium', 'Large', 'Bulk'])

In [21]:
category_sales = df.groupby('Category')['Sales'].transform('sum')
df['Category Contribution %'] = (df['Sales'] / category_sales) * 100

In [22]:
df['Late Shipment Flag'] = np.where(df['Processing Days'] > 5, 1, 0)

In [32]:
total_sales = df['Sales'].sum()

print(df.head())

   Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
1       2  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
2       3  CA-2016-138688 2016-06-12 2016-06-16    Second Class    DV-13045
3       4  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335
4       5  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ... Month  \
0      Claire Gute   Consumer  United States        Henderson  ...    11
1      Claire Gute   Consumer  United States        Henderson  ...    11
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...     6
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...    10
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...    10

   Quarter Profit Margin Processing Days Has Discount  Season Order Size  \
0        4         16.00               3            0    Fall      Small
1        4         30.00               3            0    Fall     Medium
2        2         47.00               4            0  Summer      Small
3        4        -40.00               7            1    Fall     Medium
4        4         11.25               7            1    Fall      Small

   Category Contribution %  Late Shipment Flag  Loss Flag
0                32.300171                   0          0
1                32.300171                   0          0
2                31.301008                   0          0
3                32.300171                   1          1
4                31.301008                   1          0

[5 rows x 32 columns]

In [25]:
df['Loss Flag'] = np.where(df['Profit'] < 0, 1, 0)

In [27]:
print("\nUnique Orders:", df['Order ID'].nunique())
print("Unique Customers:", df['Customer ID'].nunique())
print("\nMissing Values After Cleaning:")
print(df.isnull().sum())

Unique Orders: 5009
Unique Customers: 793

Missing Values After Cleaning:
Row ID                     0
Order ID                   0
Order Date                 0
Ship Date                  0
Ship Mode                  0
Customer ID                0
Customer Name              0
Segment                    0
Country                    0
City                       0
State                      0
Postal Code                0
Region                     0
Product ID                 0
Category                   0
Sub-Category               0
Product Name               0
Sales                      0
Quantity                   0
Discount                   0
Profit                     0
Year                       0
Month                      0
Quarter                    0
Profit Margin              0
Processing Days            0
Has Discount               0
Season                     0
Order Size                 0
Category Contribution %    0
Late Shipment Flag         0
Loss Flag                  0
dtype: int64

In [30]:
output_path = r'D:\elevate lab\Retail_Business_Performance_Profitability_Analysis_Project\data\processed\superstore_cleaned.csv'
df.to_csv(output_path, index=False)
print(f"\n Cleaned file saved at: {output_path}")
display(df.head(10))

 Cleaned file saved at: D:\elevate lab\Retail_Business_Performance_Profitability_Analysis_Project\data\processed\superstore_cleaned.csv

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Month,Quarter,Profit Margin,Processing Days,Has Discount,Season,Order Size,Category Contribution %,Late Shipment Flag,Loss Flag
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,11,4,16.00,3,0,Fall,Small,32.300171,0,0
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,11,4,30.00,3,0,Fall,Medium,32.300171,0,0
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,6,2,47.00,4,0,Summer,Small,31.301008,0,0
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,10,4,-40.00,7,1,Fall,Medium,32.300171,1,1
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,10,4,11.25,7,1,Fall,Small,31.301008,1,0
5,6,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,6,2,29.00,5,0,Summer,Large,32.300171,0,0
6,7,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,6,2,27.00,5,0,Summer,Medium,31.301008,0,0
7,8,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,6,2,10.00,5,1,Summer,Large,36.398821,0,0
8,9,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,6,2,31.25,5,1,Summer,Medium,31.301008,0,0
9,10,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,6,2,30.00,5,0,Summer,Medium,31.301008,0,0